#user-circle {
    width: 2.5rem;
    height: 2.5rem;
    background-color: #ffa84b;
    border-radius: 50%;
    border: 1px solid black;
}

a, a:hover {
    text-decoration: none;
    color: black;
}

.fs-1 {
    font-size: 6rem;
}

.fs-2 {
    font-size: 5rem;    
    
}
.fs-3 {
    font-size: 4rem;    
    
}
.fs-4 {
    font-size: 3rem;    
    
}
.fs-5 {
    font-size: 2rem;    
    
}
.fs-6 {
    font-size: 1rem;    
}

#query {
    border: 1px solid rgb(48, 48, 48);
    border-radius: .7rem;
    
}

#query:hover {
    box-shadow: 0px 0px 8px rgb(59, 192, 237);
}

#searchbutton {
    border: 2px solid rgb(48, 48, 48);
}